

<!--
name and last name : zahra madhar

class: sdev 328

project: creating a dating website

this file is the second part of the form
 --->

<style>

    * {

        box-sizing: border-box;

    }

    .container{

        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

        padding: 15px;

        margin: 20px;

    }



    table{

        margin: auto;

        width: 100%;

    }

    span{
        color: crimson;


    }


</style>




<include href="includes/Navbar.html"></include>
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>

<body>

<!-- As a heading -->

<nav class="navbar bg-light">

    <div class="container-fluid">


    </div>

</nav>

<div class="container">

    <form method="POST" action="#">

        <h1>Personal Information</h1>

        <hr>

        <div class="row">

            <div class="col-md-6">

                <div class="mb-3">
                <div>
                    <label for="fname" class="form-label">First Name</label>
                    <input type="fname" name="fname" class="form-control" id="fname" value="{{ @fname}}">

                    <check if="{{ isset(@errors['fname']) }}">
                        <span class="err">{{ @errors['fname'] }}</span>
                    </check>
                </div>

                    <div>
                    <label for="lname" class="form-label">Last Name</label>
                        <input type="lname" name="lname" class="form-control" id="lname" value= "{{@lname}}">
                        <check if="{{ isset(@errors['lname']) }}">
                            <span class="err">{{ @errors['lname'] }}</span>
                        </check>
                    </div>


                    <div>
                    <label for="age" class="form-label">Age</label>
                    <input type="age" name="age" class="form-control" id="age" value= "{{@age}}">
                        <check if="{{ isset(@errors['age']) }}">
                            <span class="err">{{ @errors['age'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="mb-3">

                    <label for="gender1" class="form-label d-block">Gender</label>

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="gender" id="gender1" value="Male">

                        <label class="form-check-label" for="gender1">Male</label>

                    </div>

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="gender" id="gender2" value="Female">

                        <label class="form-check-label" for="gender2">Female</label>

                    </div>

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="gender" id="gender3" value="None-binary">

                        <label class="form-check-label" for="gender3">Non-Binary</label>

                    </div>

                </div>

                <div class="form-group"><br>
                    <label for="PhoneNumber" class="font-weight-bold">Phone Number</label>
                    <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="tel" value="{{ @PhoneNumber}}">

                    <check if="{{ isset(@errors['PhoneNumber']) }}">
                        <span class="err">{{ @errors['PhoneNumber'] }}</span>
                    </check>
                </div><br>

                <label for="premium" class="form-label d-block">Premium Membership</label>

                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" name="premium" id="premium" value="Sign me up for a Premium Account!">

                    <label class="form-check-label" for="premium">Sign me up for a Premium Account!</label>

                </div>



            </div>

                    <div class="col note">
                        <div class="notebox">
                            <p><span>Note: </span> All Information entered is protected by our <a href="">privacy policy</a>. Profile information can only be viewed by others with your permission</p>
                        </div>

                </div>



        <div class="row justify-content-end">

            <div class="col-md-6 d-flex flex-row-reverse">

                <a href="second"><button class="btn btn-primary">Next</button></a>

            </div>

        </div>
        </div>
    </form>

</div>





